/*!* Reset básico *!*/
/*#root {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    overflow: hidden;*/
/*}*/

.buttonLogin {
    display: flex;
    justify-content: center;
    border-radius: 6px;
    box-shadow: 2px 5px 5px #3b3e3b;
    background-color: #73e454;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    border: none;
}

.containerTexto {
    width : 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.containerImagem {
    width : 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 100vh;
    overflow: hidden;
}

.containerLogin {
    display: flex;
    border-width: 1px;
    width: 60%;
    box-shadow: 2px 5px 10px #c5b9b9;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.containerPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c7e1c0;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
}

.textoLabel {
    width: 100%;
    font-size: xx-large;
    text-align: center;
}

.titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}

label {
    font-size: 0.8rem;
    color: #8ea38e;
}

.textSemCadastro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.senha {

}

.conta {
    color: #73e454;
    font-weight: bold;
    font-style: italic;
}

.input {
    display: flex;
    border-radius: 6px;
    height: 30px;
    box-shadow: 1px 5px 5px #3b3e3b;
    width: 100%;
    box-sizing: border-box;
    color: #6b7069;
    padding: 20px;
    border: none;
}

.button:hover,
.buttonLogin:hover {
    background-color: green;
    color: white;
}

.backgroundLogin {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    object-position: center;
}

.nomeLogo {
    color: #40aa22;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Bookman Old Style", cursive;
    padding-left: 10px;
}

