
.container {
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/05-Como-abrir-um-brecho.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
}

.dashboard {
    padding-top: 1rem;
    margin-left: 3rem;
    font-style: italic;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
}

.containerDashboard{
    width: 70%;
    height: 80vh;
    border: none;
    border-radius: 25px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: rgba(152, 187, 114, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.9);
}

.containerDash {
    margin-top: 2rem;
    border-radius: 20px;
    width: 30%;
    height: 25vh;
    row-gap: 1rem;
    background-color: rgba(10, 43, 70, 0.6);
    flex-direction: row;
    border: none;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: xx-large;
    color: white;
}

.containerOutDash {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100vh;
    margin: auto;
}

.imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 1rem;
    height: 12vh;
}

.containerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30%;
    line-height: 1px;
}


.containerLogout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    width: 10%;
}

.logotipo {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    align-items: center;
}

.nomeLogo {
    color: #40aa22;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Bookman Old Style", cursive;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.bemVindo {
    padding-top: 1rem;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 1px 5px 5px #3b3e3b;
    height: 35px;
    width: 100%;
    border-radius: 6px;
    border: none;
}


.button:hover,
.buttonLogin:hover
{
    background-color: green;
    color: white;
}





