.bemVindo {
    font-size: 1rem;
    line-height: 2px;
    color: darkgreen;
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
}

.container{
    width: 100%;
    flex-direction: column;
    display: flex;
    height: 100vh;
    justify-content: center;
    background-color: #910808;
}

.erro {
    color: darkred;
}

.containerContent{
    position: absolute;
    top: 12vh;
    width: 100%;
    height: 88vh;
    background-color: #910808;
}



